@CHARSET "UTF-8";

body {
	font-family:Lato,"微软雅黑",arial, sans-serif;
	margin: 0;
    padding: 0;
}

div{
	display:block;
}

#label_main_content{
	
	margin-left:215px;
	border-top:1px;
	border-left:1px;
}

#label_main_content .label_lobby_container{
	padding-bottom:20px;
}

#label_main_content .label_lobby_header{
	padding:70px 30px 20px 60px;
}

#label_main_content .label_lobby_header_logo{
	padding:5px 5px 0px 5px;
	float:left;
}

#label_main_content .label_lobby_header_text{
	font-size:24px;
	font-weight:bold;
	color:#2aceae;
	padding-left:5px;
}

#label_main_content .label_lobby_header_spliter{
	padding-top:5px;
	border-bottom:1px solid #b7b7b7;
	width:100%;
}


#label_main_content .label_lobby_task_grid{
	padding:5px 30px 20px 70px;
	font-size:14px;
}

#label_main_content .label_taskgroup_wrapper{
	padding:6px 0px 6px 0px;
}


#label_main_content
.label_taskgroup_item{
	text-align:center;
	font-size:14px;
	color:#292d3e;
	width:108px;
	height:30px;
	
	border:1px solid #ebebeb;
	padding:10px 0px 0px 0px;
	margin-left:5px;
	border-radius: 5px;
	display:inline-block;
}

#label_main_content .label_taskgroup_item:hover{
	text-align:center;
	font-size:14px;
	color:#2aceae;
	width:108px;
	height:30px;
	
	border:1px solid #ebebeb;
	padding:10px 0px 0px 0px;
	margin-left:5px;
	border-radius: 5px;
	display:inline-block;
}

#label_main_content .label_taskgroup_item.taskgroup_item_selected{
	text-align:center;
	font-size:14px;
	background-color:#2aceae;
	color:#ffffff;
	width:108px;
	height:30px;
	
	border:1px solid #2aceae;
	padding:10px 0px 0px 0px;
	margin-left:5px;
	border-radius: 5px;
	display:inline-block;
}

#label_main_content .label_lobby_subHeader{
	font-size:16px;
	color:#292d3e;
	font-weight:bold;
	padding:5px 0px 1px 5px;
	border-bottom:1px solid #b7b7b7;
}

#label_main_content .label_lobby_tasks_item{
	height: 125px;
	border-width: 1px;
	border-style: solid;
	border-color: #dcdcdc;
	border-radius: 5px;
	box-shadow: 2px 2px 2px #dee6e9;
	margin-top:15px;
	margin-bottom:15px;
}

#label_main_content .label_remainingTime{
	margin:15px 0px 0px 15px;
}

#label_main_content #label_clock {
	background: url('../../image/publicOpinion/clock.png');
    background-size: cover;
    height:15px;
    width:15px;
    float:left;
}

#label_main_content #label_rTime{
	font-size:12px;
	margin: 0px 0px 0px 10px;
	float:left;
}



