@CHARSET "UTF-8";

body {
	font-family:Lato,"微软雅黑",arial, sans-serif;
	margin: 0;
    padding: 0;
}

div{
	display:block;
}

#label_main_content{
	width: 1220px;
    max-width: 1220px;
	margin-left:215px;
	border-top:1px;
	border-left:1px;
}

#label_main_content .label_label_container{
	padding-bottom:20px;
}

#label_main_content .label_label_header{
	padding:70px 30px 0px 60px;
}

#label_main_content .label_label_header_logo{
	padding:5px 5px 0px 5px;
	float:left;
}

#label_main_content .label_label_header_text{
	font-size:24px;
	color:#2aceae;
	padding-left:5px;
}

#label_main_content .label_label_header_spliter{
	padding-top:5px;
	border-bottom:1px solid #b7b7b7;
	width:100%;
}

#label_main_content .label_label_headerAndSubmit{
	height:26px;
	padding:5px;
	margin-top:15px;
	margin-left:10px;
	margin-right:80px;
}

#label_main_content .label_label_smallHeader{
	font-size:18px;
	font-weight:bold;
	color:#292d3e;
	display:inline-block;
}

#label_main_content .label_label_sumbit{
    line-height:26px;
    height: 26px;
    border-radius: 20px;
    color: #ffffff;
    background-color: #2aceae;
    text-align: center;
    font-size: 14px;
    padding-left:21px;
    padding-right:21px;
    display: inline-block;
    float: right;
    vertical-align: top;
}

#label_main_content .label_label_sumbit:hover{
    line-height:24px;
    height: 24px;
    border-radius: 20px;
    color: #2aceae;
    background-color: #ffffff;
    border:1px solid #2aceae;
    text-align: center;
    font-size: 14px;
    padding-left:20px;
    padding-right:20px;
    display: inline-block;
    float: right;
    vertical-align: top;
}

#label_main_content .label_label_sumbit:active{
    line-height:24px;
    height: 24px;
    border-radius: 20px;
    color: #2aceae;
    background-color: #e9e9e9;
    border:1px solid #2aceae;
    text-align: center;
    font-size: 14px;
    padding-left:20px;
    padding-right:20px;
    display: inline-block;
    float: right;
    vertical-align: top;
}

#label_main_content .label_progressBarWrapper{
	margin:5px;
	padding-top:5px;
	padding-left:30px;
	padding-right:80px;
}

#label_main_content .label_label_bonusWrapper{
	overflow:hidden;
	padding-right:60px;
}

#label_main_content .label_label_bonusLogo{
	background:url('../../image/publicOpinion/bonus_logo.png') no-repeat center;
	width:41px;
    height:27px;
    float:right;
    display:block;
}

#label_main_content .label_label_progressBar{
	width:100%;
	height:10px;
	padding-top:5px;
	margin-right:20px;
	position:relative;
	display:block;
}

#label_main_content .label_label_progressBarUndoneLayer{
	width:100%;
	position:absolute;
	z-index:100;
	border-bottom:1px dotted #dcdcdc;
}

#label_main_content .label_label_progressBarDoneLayer{
	position:absolute;
	z-index:100;
	border-bottom:1px solid #2aceae;
}

#label_main_content .label_label_progressBarDotUnDone{
	background:url('../../image/publicOpinion/scale_uncovered.png') no-repeat center;
	position:absolute;
	z-index:300;
	height:9px;
	width:9px;
	top:1px;
	left:-2px;
}

#label_main_content .label_label_progressBarDotFinished{
	background:url('../../image/publicOpinion/scale_final.png') no-repeat center;
	position:absolute;
	z-index:300;
	height:9px;
	width:9px;
	top:-4px;
	left:100%;
}



#label_main_content .label_label_progressBarDotDone{
	background:url('../../image/publicOpinion/scale_covered.png') no-repeat center;
	position:absolute;
	z-index:400;
	height:9px;
	width:9px;
	top:0px;
	left:-2px;
}

#label_main_content .label_label_progressBarDotIndex{
	background:url('../../image/publicOpinion/scale_index.png') no-repeat center;
	position:absolute;
	z-index:500;
	height:11px;
	top:0px;
	width:11px;
}

#label_main_content .label_label_bigWrapper{
	padding: 10px 120px 20px 90px;
	
}

#label_main_content .label_labelCard_grid{
	background-color:#F2F2F2;
	border-radius:10px;
	height:420px;
	margin-top:10px;
	padding:15px;
}

#label_main_content .label_labelCard_wrapper{
	margin-bottom:20px;
}

#label_main_content .label_labelCard_Done{
	border-radius:10px;
	width:320px;
	height:315px;
	display:inline-block;
	background-color:#DFDFDF;
	margin-right:5px;

}

#label_main_content .label_labelCard_Doing{
	border-radius:10px;
	width:316px;
	height:311px;
	display:inline-block;
	margin-right:5px;
	border:2px solid #2aceae;
}

#label_main_content .label_labelCard_ToDo{
	border-radius:10px;
	width:320px;
	height:315px;
	display:inline-block;
}

#label_main_content .label_labelOptionWrapper{
	margin-left:75px;
	margin-right:53px;
	margin-bottom:15px;
	height:55px;
}

#label_main_content .label_label_isIrrelevent{
	height:55px;
	width:255px;
	border-radius:5px;
	box-shadow: 2px 2px 2px #dee6e9;
	background-color:#ffffff;
	margin-right:12px;
	display:inline-block;
}

#label_main_content .label_label_sentiment{
	height:55px;
	width:555px;
	border-radius:5px;
	box-shadow: 2px 2px 2px #dee6e9;
	background-color:#ffffff;
	display:inline-block;
}