@CHARSET "UTF-8";

body {
	font-family:Lato,"微软雅黑",arial, sans-serif;
	margin: 0;
    padding: 0;
}

div{
	display:block;
}

#label_main_content{
	width: 1220px;
    max-width: 1220px;
	margin-left:215px;
	border-top:1px;
	border-left:1px;
}

#label_main_content .label_rank_container{
	padding-bottom:20px;
}

#label_main_content .label_rank_header{
	padding:70px 30px 20px 60px;
}

#label_main_content .label_rank_header_logo{
	padding:5px 5px 0px 5px;
	float:left;
}

#label_main_content .label_rank_header_text{
	font-size:24px;
	color:#2aceae;
	padding-left:5px;
}

#label_main_content .label_rank_header_spliter{
	padding-top:5px;
	border-bottom:1px solid #b7b7b7;
	width:100%;
}


#label_main_content .label_rank_grid{
	padding:5px 30px 0px 70px;
	font-size:14px;
}

#label_main_content .label_taskgroup_wrapper{
	padding:6px 0px 6px 0px;
}


#label_main_content .label_taskgroup_item{
	text-align:center;
	font-size:14px;
	color:#292d3e;
	width:108px;
	height:30px;
	
	border:1px solid #ebebeb;
	padding:10px 0px 0px 0px;
	margin-left:5px;
	border-radius: 5px;
	display:inline-block;
}

#label_main_content .label_taskgroup_item:hover{
	text-align:center;
	font-size:14px;
	color:#2aceae;
	width:108px;
	height:30px;
	
	border:1px solid #ebebeb;
	padding:10px 0px 0px 0px;
	margin-left:5px;
	border-radius: 5px;
	display:inline-block;
}

#label_main_content .label_taskgroup_item.taskgroup_item_selected{
	text-align:center;
	font-size:14px;
	background-color:#2aceae;
	color:#ffffff;
	width:108px;
	height:30px;
	
	border:1px solid #2aceae;
	padding:10px 0px 0px 0px;
	margin-left:5px;
	border-radius: 5px;
	display:inline-block;
}

#label_main_content .label_rankTableWrapper{
	padding:0px 100px 20px 70px;
	width:1010px;
	height:465px;
}

#label_main_content .label_rank_subText{
	padding:35px 30px 20px 5px;
	height:80px;
}

#label_main_content .label_rank_subHeader{
	font-size:16px;
	line-height:18px;
	color:#666666;
	font-weight:bold;
}

#label_main_content .label_rank_subText ul{
	margin-top:20px;
	list-style:none;
	padding:0px;
	color:#666666;
}

#label_main_content .label_rankTableLeft{
	position:relative;
	min-height:465px;
	width:700px;
	display:inline-block;
	margin-right:15px;
}

#label_main_content .label_rankTableLeft .rankTab{
	list-style:none;
	padding:0px;
	color:#666666;
	position:absolute;
	top:-10px;
	height:40px;
	width:280px;
	z-index:200;
	right:2px;
	margin:0px;
}

#label_main_content .label_rankTableLeft .selected {
	padding:0px;
	background-color:#ABE6E5;
	text-align:center;
	display:inline-block;
	color:#292d3e;
	width:71px;
	height:40px;
	font-size:14px;
	line-height:36px;
	border-top-left-radius:5px;
	border-top-right-radius:5px;
	border-top:2px solid #2CC1BB;
	border-left:2px solid #2CC1BB;
	border-right:2px solid #2CC1BB;
	border-bottom:0px;
}

#label_main_content .label_rankTableLeft li{
	padding:0px;
	color:#666666;
	display:inline-block;
	width:75px;
	height:40px;
	background-color:#ABE6E5;
	text-align:center;
	font-size:14px;
	line-height:40px;
	border-top-left-radius:5px;
	border-top-right-radius:5px;
	margin-right:6px;
	border-bottom:2px solid #2CC1BB;
}

#label_main_content .label_tableBox{
	position:absolute;
	height:418px;
	top:30px;
	border-radius:5px;
	border:2px solid #2CC1BB;
	padding-top:5px;
	background-color:#D3F2F3;
	z-index:100;
}

#label_main_content .label_rankTableLeft table{
	border-spacing:0px;
}

#label_main_content .label_rankTableLeft th{
	display:inline-block;
	width:100px;
	padding:0px;
	background-color:#2CC1BB;
	color:#ffffff;
	height:30px;
	font-size:14px;
	line-height:30px;
}

#label_main_content .label_rankTableLeft td{
	display:inline-block;
	width:100px;
	padding:0px;
	text-align:center;
	height:30px;
	font-size:14px;
	line-height:30px;
	padding-top:5px;
	color:#666666;
}

#label_main_content .label_rankTableLeft .table_item_th{
	width:198px;
	display:inline-block;
	padding:0px;
	height:30px;
	font-size:14px;
	line-height:30px;
}

#label_main_content .label_rankTableLeft .table_item_td{
	width:198px;
	display:inline-block;
	padding:0px;
	height:30px;
	font-size:14px;
	line-height:30px;
	padding-top:5px;
}

#label_main_content .label_rankTableRight{
	min-height:423px;
	width:283px;
	display:inline-block;
	border:2px solid #2CC1BB;
	border-radius:5px;
	margin-bottom:8px;
	vertical-align:top;
	margin-top:30px;
}

#label_main_content .label_nameRankBox{
	text-align:center;
	height:50px;
	padding:35px 50px 35px 50px; 
	border-bottom:1px;
	border-image:url('../../image/publicOpinion/spliter_line.png') 0 0 1 0 stretch;
	/*-webkit-gradient(linear,left,right,from(#ffffff),color-stop(0.5,#2cbfbe),to(#ffffff))*/
}	

#label_main_content .label_rankNameWrapper{
	height:28px;
}

#label_main_content .label_userLogo{
	background:url('../../image/publicOpinion/user_logo.png') no-repeat center;
	height:28px;
	width:28px;
	display:inline-block;
}

#label_main_content .label_userName{
	color:#292d3e;
	font-weight:bold;
	display:inline-block;
	height:28px;
	line-height:28px;
	vertical-align:top;
}

#label_main_content .label_rankBonusWrapper{
}

#label_main_content .label_rankBonusLogo{
	background:url('../../image/publicOpinion/bonus_logo.png') no-repeat center;
	height:27px;
	width:41px;
	display:inline-block;
}

#label_main_content .label_rankBonusText{
	display:inline-block;
	height:27px;
	vertical-align:top;
	line-height:27px;
	color:#666666;
	font-size:16px;
}


#label_main_content .label_scoreBoardTable{
	height:45px;
	margin:13px auto;
	padding-left:5px;
}

#label_main_content .label_myScoreBoard th{
	color:#666666;
	font-size:12px;
	font-weight:normal;
	padding-left:25px;
	padding-right:25px;
}

#label_main_content .label_myScoreBoard td{
	color:#292d3e;
	font-size:14px;
	font-weight:bold;
	text-align:center;

}

#label_main_content .label_rankBanner{
	background:url("../../image/publicOpinion/small_highlight.png");
	height:26px;
	text-align:center;
	line-height:26px;
	color:#2cc1bb;
}

#label_main_content .label_myRank{
}

#label_main_content .label_myRank table{
	margin-left:30px;
	margin-top:25px;
	margin-right:30px;
	width:225px;
}

#label_main_content .label_myRank tr{
	height:40px;
}
#label_main_content .rank_th{
	font-size:14px;
	color:#666666;
	width:70px;
	font-weight:bold;
	margin-right:90px;
}

#label_main_content .rank_td{
	font-size:14px;
	color:#666666;
	font-family:magento;
	font-weight:bold;
	width:30px;
	margin-right:20px;
}

#label_main_content .rank_trend{
	width:15px;
	color:#2cc1bb;
	font-size:18px;
	font-weight:bold;
}
#label_main_content .label_myRankIndicator{
	height:15px;
	font-size:12px;
	line-height:15px;
	color:#2aceae;
	text-align:center;
	padding-top:30px;
}