<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" id="WebApp_ID" version="3.0">
  <display-name>label_gdas</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <servlet-name>LabelLobby</servlet-name>
    <servlet-class>com.netease.ux.dataLabel.LobbyServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LabelLobby</servlet-name>
    <url-pattern>/lobby</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>LabelMyTask</servlet-name>
    <servlet-class>com.netease.ux.dataLabel.MyTaskServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LabelMyTask</servlet-name>
    <url-pattern>/myTask</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>LabelLabel</servlet-name>
    <servlet-class>com.netease.ux.dataLabel.LabelServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LabelLabel</servlet-name>
    <url-pattern>/label</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>LabelRank</servlet-name>
    <servlet-class>com.netease.ux.dataLabel.RankServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LabelRank</servlet-name>
    <url-pattern>/rank</url-pattern>
  </servlet-mapping>
  
  <listener>
　　<listener-class>com.netease.ux.dataLabel.RankRefreshServlet</listener-class>
　</listener>
</web-app>